$colors: (
    'common': (
        'white': #fff,
        'black': #000000,
        'black-2': #0D0D0D,
    ),
    'grey': (
        '1':#F8F8F8,
    ),
    'text': (
        'body':#54595F,
    ),
    'theme': (
        '1': #A6A182,
    ),
    'border': (
    )
);




$white : #fff;
$black : #020626;
$theme-primary : #A6A182;
$border-primary : #F1F1F9;
